.wp-block-guteblock-paypal-donation {

    &.align-center {
        text-align: center;
    }
    &.align-right {
        text-align: right;
    } 
    input[type="image"] {
        transition: .5s ease all;
    }
    input[type="image"]:hover {
        filter: drop-shadow(0 1px 3px #0d0d0d);
        transition: .5s ease all;
    }
    button, .button{
        border-style: none;
        transition: .3s ease all;
        font-weight: inherit;
        letter-spacing: inherit;
        line-height: inherit;
        margin: 0;
        padding: inherit;
        text-align: center;
        text-decoration: none;
        text-transform: inherit;
    }
    button:hover{
        text-decoration: none;
        filter: drop-shadow(1px 1px 2px grey);
        transition: .3s ease all;
    }
    .button:focus,.button:active,.button:hover,input:focus,input:active, svg:focus {
        outline: transparent;
        outline: 2px solid transparent;
        box-shadow: inset 0 0 0 1px transparent, inset 0 0 0 2px transparent;
    }
    
}