.wp-block-guteblock-feature-grid {
	.feature-grid__image-outer {
		cursor: pointer;
		margin: 0 auto;
	}
	.feature-grid__outer {
		position: relative;
	}
	.feature-grid__remove-btn {
		position: absolute;
		top: 50%;
		right: 20px;
		z-index: 100;
		height: 50px;
		width: 50px;
		margin-top: -25px;
		background: #fff;
		cursor: pointer;
		opacity: 0;
		transition: 0.3s all linear;
		border-radius: 100%;
		padding: 10px;
	}

	.feature-grid__image-outer button {
		padding: 55px;
		margin-left: 45px;
	}
	&__addFeatureGrid {
		padding: 15px 10px 10px;
		display: block;
		margin: 0 auto;
		border-radius: 93%;
		height: 50px;
		width: 50px;
		cursor: pointer;
		border: 2px solid #333;
		opacity: 0.3;
		transition: 0.3s all linear;
	}
	&__addFeatureGrid:hover {
		opacity: 1;
	}
	.feature-grid__outer:hover .feature-grid__remove-btn {
		opacity: 1;
	}
}
